{% assign repo_url = include.repository | split: '/' %}

<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.repository }}" class="text-decoration-none">
    <div class="card hoverable">
      <div class="card-body text-left">
        <h5 class="card-title mb-1">
          <i class="fab fa-github"></i>
          {{ repo_url[1] }}
        </h5>
        <p class="card-text text-muted mb-0">{{ repo_url[0] }}/{{ repo_url[1] }}</p>
      </div>
    </div>
  </a>
</div>
