---
layout: default
---
<div class="post">
  <article>
    <div class="row">
      <!-- Left column: outlinks -->
      <div class="col-sm-3">
        {% if page.social %}
          <div class="about-links">
            {% include social_list.liquid %}
          </div>
        {% endif %}
      </div>

      <!-- Right column: content -->
      <div class="col-sm-9">
        <div class="clearfix">{{ content }}</div>

        <!-- News -->
        {% if page.announcements and page.announcements.enabled %}
          <h2 class="section-title">
            <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
          </h2>
          {% include news.liquid limit=true %}
        {% endif %}

        <!-- Selected papers -->
        {% if page.selected_papers %}
          <h2 class="section-title">
            <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
          </h2>
          {% include selected_papers.liquid %}
        {% endif %}
      </div>
    </div>

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
